/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ************************************************************************************ */

body {
  background-color: beige;
  cursor:none !important; /*기본 마우스 없애기*/
   margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*cursor 디자인하기*/
.cursor{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;
	pointer-events: none !important;
}

.cursor__default__inner{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color:rgba(10, 27, 16, 2.5);
	border: 2px solid #d5a54e;
	border-radius: 50%;
	transform: translate(-50%, -50%); /*커서 정중앙에 맞추기*/
}

.cursor__trace__inner{
	position: absolute;
	display:inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.25);
	transform: translate(-50%, -50%); /*커서 정중앙에 맞추기*/
	transition: all .04s ease;
}

.cursor--active .cursor__trace__inner{
	transform: scale(0.5) translate(-100%, -100%);;
	transition: transform .3s ease;
}

@keyframes ripple{
	0% {
		transform: scale(0);
		opacity: 1;
	}
	20% {
		transform: scale(5);
		opacity: 1;
	}
	100% {
		transform: scale(10);
		opacity: 0;
	}
}

.ripple{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d5a54e;
	animation: ripple .5s ease-out;
	z-index: -1;
}


/****************************************** 네비게이션 메뉴 */
header {
  display: flex;
  align-items: center;
  height: 34px;
  background-color: #04120c;
  color: #b8e1ee;
  justify-content: space-between;
  overflow:hidden;
}

a {
	color: unset;
	text-decoration: unset;
}

.button-in-header {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
  box-sizing: border-box;
}

.long-text{
	display:none;
}

.short-text{
	display:inline;
}

@media (min-width: 880px){
	.long-text{
		display:inline;
	}
	.short-text{
		display:none;
	}
}

.button-in-header:hover {
  background-color: #127474;
}

#middle-buttons {
  display: flex;
}

#middle-buttons .button-in-header {
	padding: 10px 50px 10px 50px;
}

#active-menu {
  /*background-color: #013a3b;*/
}

#image-wrapper {
	display: flex;
  	justify-content: center;
  	overflow: hidden;
}

#main-image {
  min-width: 1000px;
}

/************************************************ 콘텐츠 */
.content{
	margin-bottom: 200px;
}
 /* 좌측 메뉴 스타일 */
.sidebar {
    width: 200px;
   /*  background-color: #333; */
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

.sidebar a:hover {
    background-color: #73D4FF;
}
#nft,
#users,
#mountainList,
#board{
	display:none;
}

/* 우측 콘텐츠 스타일 */
.content {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}
/******************************************** nft사진 업로드 */
.nft-header{
	display:flex;
	justify-content: center;
	margin-bottom: 100px;
}
.nft-main-container{
	display:flex;
	justify-content: center;
}
.nft-reg-form{
	width: 300px;
	padding: 20px;
	background-color: #eee;
	display:flex;
}

.check-value{
	width: 300px;
	padding: 20px;
	background-color: #eee;
}
.upload-container{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 50vh;
}
.board-table.userTbl{
	width: 500px;
}


/******************************* 커스텀 버튼 */
#fileCount{
	margin-top: 30px;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
    background: #eceff1;
  color: #37474f;
}

/* 기본 파일 선택 버튼 숨기기 */
.custom-file-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* 커스텀 버튼 스타일 */
.file-label {
  padding: 10px 20px;
  background: #eceff1;
  color: #37474f;
  border: none;
  border-radius: 5px;
  transition: 0.25s;
}

.file-upload-btn{
	margin-top: 10px;
}

/* 추가 */
/* Common button styles */
.regBtn {
  background: #eceff1;
  color: #37474f;
}

.regBtn input {
  color: #37474f;
  border-color: #37474f;
}

.button {
  float: left;
  min-width: 100px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}

#fileInput {
  color: #37474f;
  border-color: #37474f;
}

.button--round-s {
  border-radius: 5px;
}

/* Wapasha */
.button.button--wapasha {
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--wapasha.button--inverted {
  background: #fff;
  color: #37474f;
}
.button--wapasha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3f51b5;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha.button--inverted::before {
  border-color: #7986cb;
}
.button--wapasha:hover {
  background-color: #fff;
  color: #3f51b5;
}
.button--wapasha.button--inverted:hover {
  background-color: #37474f;
  color: #7986cb;
}
.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.regBtn{
	border:none;
	background-color: #7986cb;
	border-radius: 10px;
	padding:10px;
	transition: 0.25s;
	color: #fff;
}
.regBtn:hover{
	transform:scale(0.9);
}

/******************************************** 유저조회 테이블 */

.user-container{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 80vh;
}


.board-table{
	width: 1000px;
	background-color: #fff;
	border-collapse: collapse;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	border-radius: 5px;
	overflow: hidden;
}
.title:focus,
.content:focus,
.writer:focus{
  outline: none;
}
.content{
	resize: none;
}

.board-table tr {
	border-bottom: 1px solid #eee;
	transition: 0.3s;
}
.board-table td {
	border-right: 1px solid #eee;
}
.board-table tr:last-child{
	border: none;
}
.board-table td:last-child{
	border: none;
}

.board-table td:nth-child(1){
	width: 50px;
}

.board-table tr:nth-child(odd){
	background-color: #e3e8fd;
}

.board-table tr:hover{
	background-color: #f8effe;
}

.board-table td,
.board-table th{
	padding: 12px;
	text-align: center;
}

.board-table .title{
  	height: auto;
  	border-radius: 4px;
  	border: 2px solid #e1fdfa;
  	background: transparent;
}

.board-table .content{
    height: auto;
    align-items: center;
  	border-radius: 4px;
  	border: 2px solid #e1fdfa;
  	background: transparent;
}

.board-table .writer {
  	height: auto;
  	border-radius: 4px;
  	border: 2px solid #e1fdfa;
  	background: transparent;
}


.board-table .deleteBtn,
.board-table .uploadBtn{
 		display: inline-block;
 		width: 100px;
  	height: 35px;
  	border-radius: 4px;
  	border: 2px solid #e1fdfa;
  	background-color: #fff;
  	transition: all 0.3s ease 0s;
  	cursor: pointer;
  	outline: none;
}
.board-table tr td .deleteBtn:hover,
.board-table tr td .uploadBtn:hover{
  background-color: #94f8a5;
  box-shadow: 0px 15px 20px #ddfdbd;
  color: #fff;
  transform: translateY(-7px);
}

/************************************************ 산 그리드  */
.main-container {
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr; /* 좌측 사이드바의 너비와 우측 콘텐트의 너비를 지정 */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: 20px; /* Gap between grid items, adjust as needed */
  padding: 50px;
}

.grid-item {
  /* Styles for individual grid items, adjust as needed */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/********************************************* footer 디자인*/
.footer{
/* 	position: relative;
	  left: 0;
 	bottom: 0;
 	width: 100%;
 	padding: 20px; */
	
}

.footer-inner {
  width: 1250px;
  margin: auto;
}
.sns-outer {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.sns {
  font-size: 20px;
}

.sns b {
  font-weight: normal;
  color: #73D4FF;
}

.sns a {
  font-size: 24px;
  color: #73D4FF;
  margin: 0 10px;
}

.copyright {
  padding: 30px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.policy a {
  padding: 0 10px;
  color: #73D4FF;
}

.policy a:after{
	content: '|';
	font-size: 14px;
	padding-left: 20px;
}

.policy a:nth-child(1) {
  margin-left: 50px;
}

/******************************************************** backtotop 버튼 */
#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#backtotop::after {
  content: '\f077';
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px;
  color: #fff;
}

#backtotop.show:hover {
  cursor: url(../images/mouse-pointer.png), auto;
  background-color: #74c0f0;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 49);
}







@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    width: 100%;
  }
  .modal-content > div {
    width: 350px;
  }
  .photo {
    flex-basis: 250px;
    /* height: 250px; */
    /* width: 250px; */
  }
}