/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  background-color: beige;
  cursor:none !important; /*기본 마우스 없애기*/
}

/*cursor 디자인하기*/
.cursor{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9999;
	pointer-events: none !important;
}

.cursor__default__inner{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color:rgba(10, 27, 16, 2.5);
	border: 2px solid #d5a54e;
	border-radius: 50%;
	transform: translate(-50%, -50%); /*커서 정중앙에 맞추기*/
}

.cursor__trace__inner{
	position: absolute;
	display:inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.25);
	transform: translate(-50%, -50%); /*커서 정중앙에 맞추기*/
	transition: all .04s ease;
}

.cursor--active .cursor__trace__inner{
	transform: scale(0.5) translate(-100%, -100%);;
	transition: transform .3s ease;
}

@keyframes ripple{
	0% {
		transform: scale(0);
		opacity: 1;
	}
	20% {
		transform: scale(5);
		opacity: 1;
	}
	100% {
		transform: scale(10);
		opacity: 0;
	}
}

.ripple{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d5a54e;
	animation: ripple .5s ease-out;
	z-index: -1;
}


/* 네비게이션 메뉴 */
header {
  display: flex;
  align-items: center;
  height: 34px;
  background-color: #04120c;
  color: #b8e1ee;
  justify-content: space-between;
  overflow:hidden;
}

a {
	color: unset;
	text-decoration: unset;
}

.button-in-header {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
  box-sizing: border-box;
}

.long-text{
	display:none;
}

.short-text{
	display:inline;
}

@media (min-width: 880px){
	.long-text{
		display:inline;
	}
	.short-text{
		display:none;
	}
}

.button-in-header:hover {
  background-color: #127474;
}

#middle-buttons {
  display: flex;
}

#middle-buttons .button-in-header {
	padding: 10px 50px 10px 50px;
}

#active-menu {
  /*background-color: #013a3b;*/
}

#image-wrapper {
	display: flex;
  	justify-content: center;
  	overflow: hidden;
}

#main-image {
  min-width: 1000px;
}

/* body */
.header	{
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	height: 80px;
	padding: 0 1rem;
}
.search-form {
	width: 300px;
	max-width: 60%;
	margin-left: auto;
	margin-right: 3rem;
}
.primary {
	padding: 1rem;
}
.secondary {
	padding: 1rem;
}
.secondary-a {
	background: white;
}
.secondary-b {
	color: white;
	background: #666;
}
.footer {
	padding: 1rem;
	border-top: 1px solid lightgray;
	text-align: center;
}

@media (min-width: 1024px) {
	.page {
		display: flex;
		flex-wrap: wrap;
	}
	.header {
		width: 100%;
	}
	.menu {
		width: 100%;
	}
	.primary {
		order: 2;
		width: 60%;
	}
	.secondary {
		width: 20%;
	}
	.secondary-a {
		order: 1;
	}
	.secondary-b {
		order: 3;
	}
	.footer {
		order: 4;
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.primary {
		width: calc(100% - 600px);
		/* flex-grow: 1; */
		/* flex: 1 1 auto; */
		/* flex: auto; */
	}
	.secondary {
		width: 300px;
	}
}



/* bullet list */
.info-list {
	margin-bottom: 2rem;
}
.info-list-item {
	display: flex;
	margin: 0.5em 0;
}
.info-list-item:before {
	content: "⌘";
	margin-right: 0.5em;
}

/* message */
.user-list {
	margin-bottom: 2rem;
}
.user-item {
	display: flex;
	margin-bottom: 1.5em;
}
.user-photo {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	margin-right: 0.5em;
	border: 2px solid #333;
	border-radius: 50%;
	background-color: gold;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
}

/* friend list */
.friend-item {
	align-items: center;
}
.user-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* modal */
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
}
.dialog {
	width: 50vw;
	padding: 2em;
	border-radius: 1em;
	background: white;
}

/* card list */
/*추가*/
.card-list {
  display: flex;
  flex-wrap: wrap; /* 이제 리스트 아이템들을 여러 줄로 나누어줍니다. */
  justify-content: space-between; /* 아이템들을 3열로 배치하기 위해 각 줄 사이의 간격을 최대로 설정합니다. */
}

.card-item {
	/*추가*/
	flex-basis: calc(33.333% - 10px); /* 각 아이템의 너비를 33.333%로 설정하고 간격을 고려하여 조정합니다. */
	
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.card-image {
	height: 0;
	padding-bottom: 60%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card-image img {
	display: none;
}
.card-desc {
	flex: 1 1 auto;
	padding: 1em;
	background: white;
}

@media (min-width: 600px) {
	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
	}
	.card-item {
		width: 50%;
		padding: 0 1rem;
	}
}

@media (min-width: 1200px) {
	.card-item {
		width: 33.33333%;
	}
}


										/* backtotop 버튼 */
#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#backtotop::after {
  content: '\f077';
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px;
  color: #fff;
}

#backtotop.show:hover {
  cursor: url(../images/mouse-pointer.png), auto;
  background-color: #74c0f0;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 49);
}
/*back to top button*/


/* footer 디자인*/
.footer{
	position: relative;
	transform: translateY(-100%);
	
}

.footer-inner {
  width: 1250px;
  margin: auto;
}
.sns-outer {
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}
.sns {
  font-size: 20px;
}

.sns b {
  font-weight: normal;
  color: #73D4FF;
}

.sns a {
  font-size: 24px;
  color: #73D4FF;
  margin: 0 10px;
}

.copyright {
  padding: 30px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.policy a {
  padding: 0 10px;
  color: #73D4FF;
}

.policy a:after{
	content: '|';
	font-size: 14px;
	padding-left: 20px;
}

.policy a:nth-child(1) {
  margin-left: 50px;
}



/* modal 디자인*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.7);
  z-index: 10;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.modal.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
.modal-content {
  border: 1px solid #000; 
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
}
.modal-content > div {
  padding: 10px;
}

.desc {
	background-color: #d0f9ff;
  flex: 2;
  text-align: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
  /* visibility: hidden; */
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
  /* visibility: visible; */
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  outline: none;
}
.btn-close:hover {
  color: #000;
}

.desc-content {
  display: block;
  width: 100%;
  text-align: center;
  padding: 7px;
  margin-top: 30px;
  border: none;
  outline: none;
}

.desc-content > div {
  display: block;
  width: 100%;
  border: none;
  background-color: crimson;
  color: #fff;
  /*cursor: pointer;*/
  padding: 7px;
  outline: none;
}
/* modal */



@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    width: 100%;
  }
  .modal-content > div {
    width: 350px;
  }
  .photo {
    flex-basis: 250px;
    /* height: 250px; */
    /* width: 250px; */
  }
}
