@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: #333;
	line-height: 1.6em;
	background-color: #E2F6CA;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

a{
	text-decoration: none;
	color: #000;
}

.homeLogo{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
}

.search{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 15px;
}
/* 검색메뉴 디자인 */
.selectBox {
	display: inline-block;
 	width: 100px;
  	height: 35px;
  	border-radius: 4px;
  	border: 2px solid lightcoral;
}
.searchBar {
	display: inline-block;
 	width: 150px;
  	height: 35px;
  	border-radius: 4px;
  	border: 2px solid lightcoral;
}
.selectBox .select,
.searchBar .input{
  	width: inherit;
  	height: inherit;
  	background: transparent;
  	border: 0 none;
 	outline: 0 none;
  	padding: 0 5px;
  	position: relative;
  	z-index: 3; 
}

.selectBox .select option {
  	background: lightcoral;
  	color: #fff;
  	padding: 3px 0;
  	font-size: 16px;
}
.selectBox .icoArrow {
  	position: absolute; 
  	top: 0; 
  	right: 0; 
  	height: inherit;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* 검색 버튼 디자인*/
.searchBtn {
/*   height: 100%; */
/*   display: flex; */
  
}

.btn {
	align-items: center;
  	justify-content: center;
 	margin-left: 10px;
 	display: inline-block;
 	width: 100px;
  	height: 45px;
  	border: 2px solid lightcoral;
  	position: relative;
  	z-index: 3; 
 	font-family: 'Roboto', sans-serif;
	font-size: 11px;
  	text-transform: uppercase;
  	letter-spacing: 2.5px;
  	font-weight: 500;
  	color: #000;
  	background-color: #fff;
  	border-radius: 45px;
  	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  	transition: all 0.3s ease 0s;
  	cursor: pointer;
  	outline: none;
  }

.btn:hover {
  background-color: #c829e9;
  box-shadow: 0px 15px 20px #ffaaff;
  color: #fff;
  transform: translateY(-7px);
}

.search .searchBar,
.search .searchBtn{
	display: inline-block;
}

/*테이블 디자인*/
.boardTable{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.member{
	width: 900px;
	background-color: #fff;
	border-collapse: collapse;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	border-radius: 5px;
	overflow: hidden;
}

.member tr {
	border-bottom: 1px solid #eee;
	transition: 0.3s;
}
.member tr:last-child{
	border: none;
}

.member tr:nth-child(odd){
	background-color: #fbfde6;
}

.member tr:hover{
	background-color: #f8effe;
}
.member th,
.member td:nth-child(1),
.member td:nth-child(3),
.member td:nth-child(4),
.member td:nth-child(5){
	padding: 12px;
	text-align: center;
}
.member tr th{
	background-color: #D5C4FC;
	color: #FDED36;
}
.member tr td .write{
 	display: inline-block;
 	width: 150px;
  	height: 35px;
  	border-radius: 4px;
  	border: 2px solid lightcoral;
  	background-color: #fff;
  	transition: all 0.3s ease 0s;
  	cursor: pointer;
  	outline: none;
}
.member tr td .write:hover {
  background-color: #c829e9;
  box-shadow: 0px 15px 20px #ffaaff;
  color: #fff;
  transform: translateY(-7px);
}

/* 페이징 처리 CSS*/
.page{
	display:flex;
	align-items: center;
 	justify-content: center;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}

.pagination li{
	display: inline;
	text-align: center;
}

.pagination a {
	float:left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
}

.left:hover, .right:hover{
	color: #2e9cdf;
}

.pagination a.active {
	cursor: default;
	color: #fff;
}

.pagination a:active{
	outline: none;
}

.modal .num {
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.modal .num:hover{
	background-color: #2e9cdf;
	color: #fff;
}

.modal .num.active, .modal .num:active {
	background-color: #2e9cdf;
	cursor: pointer;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}
/* 페이징 처리 CSS 끝*/