<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.board.BoardMapper">

	<!-- 자유게시판 글 작성 -->
	<insert id="regFreeBoard"
		parameterType="com.soldesk.board.FreeBoard">
		INSERT INTO SOLDESK_BOARD_FREE_TB(b_no, b_u_email, b_title, b_writer, b_detail, b_indate, b_photo)
		VALUES(BOARD_FREE_SEQ.NEXTVAL, 'test@naver.com', #{b_title}, #{b_writer}, #{b_detail}, sysdate, #{b_photo})
	</insert>
	
	<!-- 자유게시판 전체 글 조회 -->
	<select id="getAllFreeBoard"
		resultType="com.soldesk.board.FreeBoard">
		SELECT * FROM SOLDESK_BOARD_FREE_TB ORDER BY B_NO DESC
	</select>
</mapper>